.btn {
    display: block;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    padding: 0.75rem 2rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #fff;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: rgb(0, 0, 0);
}

.btn:active {
    background-color: rgb(0, 0, 0);
}